.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .logo{
    width: 30%;
    height: 30%;

  }
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #02055A;
  }
  .btn-Login {
    background-color: lightblue;
    color: white;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 30px;
  }
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    font-size: 24px;
    color: lightblue;
    font-weight: 800;
    margin: 0;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: lightblue;
  }