


.bg-darkBlue {
    --tw-bg-opacity: 1;
    background-color: rgba(3,17,54,var(--tw-bg-opacity));
  }

h1{
--tw-bg-opacity: 1;
color:7px 15px rgba(83,185,205,var(--tw-bg-opacity));
font-size: large;
font-weight: bold;
font-size: 90px;
}
.Description{
    padding-top: 50px;
}
p{
font-family: roboto;
color: white;
font-size: 20px;
margin-top: 40px;
}
.Container{
display: flex;
gap:90px;
padding-left:30px ;
padding-right: 30px;
}

.glowing-pic{
    border: 1px solid;
    --tw-bg-opacity: 1;
    box-shadow: 7px 15px rgba(83,185,205,var(--tw-bg-opacity));
    width: 100%;
    margin-bottom: 50px;
}
.bg-pink{
    background-color: rgb(255, 0, 111);
    color: white;
}